#AboutMe {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 4em;
  }

  .about-card {
    position: relative;
    max-width: 60%;
    font-size: 1.5em;
    margin: 3em 0;

    p {
      padding: 1em;
      background-color: rgba(75, 74, 74, 0.3);

      span {
        font-size: 1.25em;
        font-weight: bold;
        color: var(--gold);
      }
    }

    &.right {
      text-align: end;
      transform: translateX(calc(100% * 2 / 3));
    }

    ////////////////////////////////////////////////////
    .filler {
      position: absolute;
      height: 10em;
      width: 10em;
      background-color: var(--gray);
      transform: translateY(calc(-100% * 2 / 3));
      z-index: -1;
      opacity: 0.7;
      transition: transform ease 1s;

      &:hover {
        background-color: red;
        transition: all ease 1s;
      }
      //? scroll-anim on mobile: opactiy 1 on img/art

      &.right {
        transform: translateY(calc(-100% * 2 / 3)) translateX(-100%);
      }
    }
  }

  @media screen and (max-width: 1049px) {
    h1 {
      margin-bottom: 2em;
    }
    .about-card {
      font-size: 1.25em;
      .filler {
        transform: translateY(calc(-100% * 2 / 3));
      }
    }
  }
  @media screen and (max-width: 769px) {
    .cards {
      display: grid;

      .about-card {
        font-size: 1.15em;
        max-width: 75%;
        margin: 1em 0;

        &.right {
          text-align: end;
          transform: translateX(33%);
        }

        .filler {
          transform: translateX(105%) translateY(5%);
          transition: transform ease 1s;

          &.right {
            transform: translateX(-205%) translateY(5%);
          }
        }
      }
    }
  }
}
