#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-size: 1.5em;
  padding: 2em;
  transition: font-size ease 1s;

  p {
    max-width: 600px;
    text-align: center;
  }

  button {
    font-size: 1em;
    padding: 0.5rem 0.75rem;
    background: none;
    color: var(--white);
    border: 1px solid var(--gold);
  }

  @media screen and (max-width: 1049px) {
    font-size: 1.15em;
  }
  @media screen and (max-width: 769px) {
    h1 {
      font-size: 1.5em;
      text-align: center;
    }
  }
}
