#Landing {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    .greeting {
      margin-top: 10vh;
      font-size: 30px;
      text-align: center;
      .text {
        display: grid;
        gap: 0.5em;
        margin-bottom: 0.5em;
        h4 {
          color: var(--orange1);
          text-shadow: 2px 2px 16px var(--orange1);
        }
      }
      .socials {
        display: flex;
        justify-content: center;
        gap: 1em;
        a {
          color: var(--blue1);
        }
      }
    }
    .profilePic {
      width: 70vw;
      height: 70vw;
      max-width: 300px;
      max-height: 300px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 2px 2px 24px var(--gray1);
      img {
        width: 100%;
      }
    }
  }
  .typewriter-anim {
    overflow: hidden;
    border-right: 0.15em solid var(--white);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 12s steps(25, end) infinite,
      blink-caret 1s step-end infinite;
  }
  @keyframes typing {
    0%,
    50%,
    100% {
      width: 100%;
    }
    10%,
    40% {
      width: 0%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--white);
    }
  }
}
