nav {
  min-height: 10vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;

  .menu-icon {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    transform: rotate(90deg);
    transition: all ease 1.5s;
    cursor: pointer;
    .pipe1,
    .pipe2 {
      transition: all ease 1.5s;
    }
  }
  .menuOpen {
    transform: rotate(45deg);
    .pipe1 {
      transform: rotate(90deg);
    }
    .pipe2 {
      transform: translateX(-12px);
    }
  }
  button {
    padding: 0.5em;
    font-size: 1em;
    color: var(--gold);
    border: 1px solid var(--gold);
    box-shadow: 2px 2px 8px var(--gold);
    background: transparent;
    transition: all ease 0.75s;
    &:hover {
      color: var(--white);
      background-color: var(--gold);
      box-shadow: 2px 2px 8px var(--white);
    }
  }
}
