@import './projectCard';
@import './projectModal';

#Projects {
  h1 {
    margin: 1em 0;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
}
