@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import './nav';
@import './homePage';
@import './footer';

:root {
  --white: #dddddd;
  --gray1: rgb(127, 133, 139);
  --gray2: rgb(48, 51, 56);
  --gray3: rgb(38, 42, 48);
  --gray4: rgb(21, 24, 25);
  --blue1: rgb(1, 175, 255);
  --blue2: rgb(25, 56, 72);
  --green1: rgb(37, 161, 53);
  --green2: rgb(23, 99, 61);
  --orange1: rgb(210, 86, 9);
  --orange2: rgb(148, 67, 16);
  --red1: rgb(255, 0, 0);
  --red2: rgb(143, 20, 20);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  color: var(--gray1);
  background-color: var(--gray4);
}
h1 {
  color: var(--blue1);
  text-shadow: 2px 2px 16px var(--blue1);
}
h2 {
  color: var(--orange1);
  text-shadow: 2px 2px 16px var(--orange1);
}
#App {
  position: relative;
  padding: 0 1em;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  button {
    cursor: pointer;
  }
  .bounce,
  button {
    cursor: pointer;
    transition: transform ease;
  }
  .bounce:hover,
  button:hover {
    transform: scale(1.1);
  }
  .bounce:active,
  button:active {
    transform: scale(0.9);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    background-color: var(--gray4);
  }
  @media screen and (max-width: 769px) {
    #AboutMe {
      .container {
        max-width: 80vw;
      }
    }
    #Projects {
      .names {
        flex-wrap: wrap;
      }
      .project {
        display: flex;
        flex-direction: column;
        .images {
          display: flex;
          flex-wrap: wrap;
          figure {
            width: 80px;
            height: 80px;
          }
        }
        .info {
          .title {
            flex-direction: column;
            text-align: center;
          }
          p {
            font-size: 16px;
          }
          figure {
            max-height: 200px;
          }
        }
      }
    }
  }
}
