@import './nav';
@import './landing';
@import './aboutMe';
@import './projects';
@import './contact';
@import './footer';

:root {
  --charcoal: #191919;
  --white: #f5f5f5;
  --gray: #4b4a4a;
  --gold: #f0a500;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  background-color: var(--charcoal);
  color: var(--white);
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.bounce {
  cursor: pointer;
  transition: transform ease;
}
.bounce:hover {
  transform: scale(1.1);
}
.bounce:active {
  transform: scale(0.9);
}
